
body {
	margin: 0;
	font-family: Arial, sans-serif;
}

.top-bar {
	background-color: #333;
	color: #fff;
	padding: 20px 0;
	position: relative;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

.bar-title {
	font-size: 40px;
}

.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigation ul li {
	display: inline-block;
	margin-left: 20px;
}

.navigation ul li:first-child {
	margin-left: 0;
}

.navigation ul li a {
	color: #fff;
	text-decoration: none;
	transition: color 0.3s ease;
}

.navigation ul li a:hover {
	color: #ff0; /* ホバー時の色 */
}
